{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.html",
      "options": { "parser": "html" }
    },
    {
      "files": "*.*component.html",
      "options": { "parser": "angular" }
    }
  ]
}
